.button {
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    border: 2px solid var(--color-white);
  }
}
.positive {
  background-color: #3cbbb4cc;
}
.negative {
  background-color: #fbbd4a;
}
