.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 12px;
}
.button {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  outline: none;
  padding: 10px 15px;
  font-size: 1.25rem;
  font-weight: 400;
  margin-right: 34px;
}

@media all and (min-width: 768px) {
  .button {
    font-size: 15px;
    line-height: 18px;
  }
  .list {
    margin-bottom: 0;
    margin-top: 6px;
    .button {
      margin-right: 14px;
    }
  }
}
@media all and (min-width: 1100px) {
  .button {
    font-size: 15px;
    line-height: 18px;
  }
  .list {
    margin-bottom: 0;
    margin-top: 6px;
    gap: 9px;
    button {
      width: 45px;
      height: 45px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .button {
      width: auto;
      height: auto;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
